* {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.35em;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #222;
}

body {
  font-family: "Open Sans Hebrew","Helvetica Neue",tahoma,Helvetica,Arial,sans-serif;
  font-size: 14px;
  direction: rtl;
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 2em auto 6em;
  padding: 0 20px;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  body {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  body {
    width: 80%;
  }
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

h3.date {
  color: #888;
  font-weight: bold;
  margin-bottom: 20px;
}

p + h3.date {
  margin-top: 30px;
}

span.time {
  margin-left: 20px;
}

a {
  /* color: -webkit-link; */
}

li {
  margin-left: 1em;
  margin-bottom: 0.25em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p, ul, ol {
  margin: 0 0 0.75em 0;
}

body { display: block } // Prevent FUOC